html {
  height: 100%;
}

body {
  background: linear-gradient(#e7f0fd, #accbee);
}

.weather-app {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: transparent linear-gradient(0deg, #accbee 0%, #e7f0fd 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  box-shadow: 0px 0px 20px #00000027;
}

.weather-temperature img {
  margin: 20px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #404040;
  font-size: 64px;
  line-height: 1, 5;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

::placeholder {
  color: #accbee;
  opacity: 0.7;
}

form #search-city {
  width: 188px;
  height: 35px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  opacity: 1;
  background-color: white;
  margin: 15px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  box-shadow: 0px 0px 10px #00000011;
}

button {
  background: transparent;
  border-style: none;
  color: #accbee;
  font-size: 20px;
}

.current-location-button {
  background: transparent;
  border-style: none;
  color: #accbee;
  font-size: 20px;
  margin: 0px 5px;
}

h1 {
  display: inline;
  margin: 20px;
  font-family: "Manrope", sans-serif;
  text-align: left;
  font-size: 30px;
  letter-spacing: 1.33px;
  color: #404040;
  opacity: 1;
  width: 87px;
  height: 28px;
}

#date {
  display: block;
  margin: 20px;
  font-family: "Manrope", sans-serif;
  text-align: left;
  letter-spacing: 2.22px;
  font-size: 16px;
  color: #404040;
  opacity: 1;
  width: 250px;
  height: 16px;
  opacity: 0.5;
}

.temperature {
  display: block;
  font-family: "Manrope", sans-serif;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2.22px;
  color: #404040;
  text-shadow: 0px 0px 10px #00000026;
  opacity: 1;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #404040;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  letter-spacing: 0.78px;
  opacity: 1;
}

.weather-status {
  display: block;
  margin: 0 0 0px 20px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  text-align: left;
  letter-spacing: 2.22px;
  color: #404040;
  opacity: 1;
}

p {
  display: block;
  margin: 20px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.78px;
  color: #404040;
  opacity: 1;
  width: 250px;
  height: 16px;
}

h5 {
  display: block;
  margin: 20px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #404040;
  text-align: center;
  letter-spacing: 0.78px;
  opacity: 1;
}

a:link {
  text-decoration: none;
  color: red;
}

a:hover {
  color: #404040;
}

.sonia {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #404040;
}
